#cart-container {
  background-color: #eeebe5;
  padding: 8px 8px 10px 8px;
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: end;
  gap: 5px;
  transition: background-color 0.5s;
}

#cart-container:hover {
  cursor: pointer;
  background-color: #fefb6a;
}

#top-bar {
  background-color: #f6f4ee;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

#cart-num-items {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.inactive {
  display: none;
}

#expanded-cart {
  position: absolute;
  background-color: #eeebe5;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.cart-item-info > p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.cart-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 15px;
  margin: 0;
}

#cart-total {
  font-size: 1rem;
  font-weight: bold;
  padding: none;
}

.quantity-incrementer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  box-sizing: border-box;
}

.quantity-button-decrease {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.quantity-button-increase {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.quantity-button {
  padding: 2px 2px 2px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  background-color: lightgray;
}

.quantity-button:hover {
  background-color: #fefb6a;
}

.item-quantity {
  width: 30px;
  font-size: 0.92rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  margin: 0;
  padding: 6px 0 6px 0;
  border-right: none;
  border-left: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
