/* josefin-sans-700 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/josefin-sans-v25-latin-700.eot");
  src: local(""),
    url("./fonts/josefin-sans-v25-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/josefin-sans-v25-latin-700.woff2") format("woff2"),
    url("./fonts/josefin-sans-v25-latin-700.woff") format("woff"),
    url("./fonts/josefin-sans-v25-latin-700.ttf") format("truetype"),
    url("./fonts/josefin-sans-v25-latin-700.svg#JosefinSans") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/roboto-v30-latin-300.eot");
  src: local(""),
    url("./fonts/roboto-v30-latin-300.eot?#iefix") format("embedded-opentype"),
    url("./fonts/roboto-v30-latin-300.woff2") format("woff2"),
    url("./fonts/roboto-v30-latin-300.woff") format("woff"),
    url("./fonts/roboto-v30-latin-300.ttf") format("truetype"),
    url("./fonts/roboto-v30-latin-300.svg#Roboto") format("svg");
}

body {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefcf6;
}

p {
  color: #434040;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans";
  color: #424040;
}

h1 {
  font-size: 40px;
  padding: 0;
}

h4 {
  font-size: 25px;
  padding: 0;
}

.product-image {
  width: 600px;
}

.product-thumbnail {
  width: 100px;
}

.swiper-pagination {
  position: absolute;
  top: 120%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 10;
}

.swiper-pagination-bullet {
  text-align: center !important;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
}

.swiper-pagination-bullet-active {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}

button {
  background-color: #fefb6a;
  transition: background-color 0.2s ease-in;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #ffe900;
}

.add-to-cart-button {
  border: none;
  font-size: 1.5rem;
  margin: 20px 0 20px 0;
  padding: 10px;
  border-radius: 1.5rem;
}

.inactive {
  display: none !important;
}
